GEMINI_API_KEY=gemini_api_key
MONGO_URI=mongo_uri
MONGO_DB_NAME=name_of_the_db_that_stores_posts
MONGO_DB_IG_CLUSTER=name_of_the_collection_that_stores_instagram_posts
PINTEREST_API_TOKEN=api_token_to_get_pinterest_trends
MAX_SYNC_EMBEDS=max_posts_to_embed_in_db (for preventing rate limits)
