fastapi
uvicorn[standard]
motor
certifi
pytest
pydantic
pydantic-settings
python-dotenv
google-analytics-data
google-api-python-client
google-auth
google-auth-oauthlib
httpx
pytest-asyncio
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
pydantic[email]
xlrd==2.0.1
beautifulsoup4
google-genai
apscheduler
